[submodule "libfco"]
	path = libfco
	url = https://github.com/NextinMono/libfco
[submodule "StbTrueTypeSharp"]
	path = StbTrueTypeSharp
	url = https://github.com/StbSharp/StbTrueTypeSharp.git
[submodule "settings-system"]
	path = settings-system
	url = https://github.com/teamspettrogames/settings-system
